<a href="https://colab.research.google.com/github/ShivanshGupta1/Sets/blob/main/Sets_(GitHub).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Set = {1,2,3,20,5,8,10}
print(Set)
print(type(Set))
#when 2 sets are diferent they are called disjoint

{1, 2, 3, 5, 8, 10, 20}
<class 'set'>

In [ ]:
fruits = {"Mango","Apple","Orange","Banana"}
print(fruits)
#for one element
fruits.add("Pear")
print(fruits)

{'Apple', 'Banana', 'Mango', 'Orange'}
{'Orange', 'Banana', 'Pear', 'Apple', 'Mango'}

In [ ]:
fruits = {"Mango","Apple","Orange","Banana"}
fruits2 = {"apple","any","any2","any3"}
#takes list as input
#for multiple elements
fruits.update(["Kiwi","Pineapple"])
print(fruits)
fruits.update(fruits2)
print(fruits)

{'Orange', 'Apple', 'Kiwi', 'Banana', 'Mango', 'Pineapple'}
{'any', 'Orange', 'any2', 'any3', 'Apple', 'Kiwi', 'Banana', 'Mango', 'apple', 'Pineapple'}

In [ ]:
names = {"Shivansh","Daksh","Kanishk","Vivaan","Sahib"}
Input = input("Names").split(',')
names.update(Input)
print(names)

Names1
{'Kanishk', 'Shivansh', '1', 'Sahib', 'Daksh', 'Vivaan'}

In [ ]:
#remove
fruits = {"Mango","Apple","Orange","Banana"}
fruits.remove("Apple")
print(fruits)
#remove helps to remove and existing elements, but i it is not there, then it throws an erro, so a safer method is
#discard -  it does not throw error if element is not there
fruits.discard("Apple")
fruits.discard("Banana")
print(fruits)

{'Banana', 'Mango', 'Orange'}
{'Mango', 'Orange'}

In [ ]:
#delete - keyword (to delete the entire set)
fruits = {"Mango","Apple","Orange","Banana"}
del fruits
print(fruits) #this will now throw an error as the set does not exist

NameError: ignored

In [ ]:
#intersection -  takes the intersection of similiarities in 2 or more sets
letters = {"a","b","c","d"}
letters2 = {"z","y","c","e","a"}
letters3 = {"c","any","any2","any3"}
newLetter = letters2.intersection(letters)
allLetter = newLetter.intersection(letters3)
print(newLetter)
print(allLetter)

{'a', 'c'}
{'c'}

In [ ]:
# if there are 2 sets, A, which has all B's eleements and its own, then we can say - 
# A is a superset of B
#B is a subset of A
Integers = {-5,-4,-3,-2,-1,0,1,2,3,4,5,}
naturalNumbers = {0,1,2,3,4,5}
Answer_1 = Integers.issuperset(naturalNumbers)
Answer_2 = naturalNumbers.issubset(Integers)
print(Answer_1)
print(Answer_2)

True
True

In [ ]:
# all the other part except for intersection is called symmetric difference
Integers = {-5,-4,-3,-2,-1,0,1,2,3,4,5,}
naturalNumbers = {0,1,2,3,4,5,}
difference = Integers.symmetric_difference(naturalNumbers)
print(difference)

{10, -2, -5, -4, -3, -1}

In [ ]:
# to create empty set use set()
s1 = set()
print(s1)

set()